<!-- 公共头部-->
{include file="Public/_header" title="$title"/}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">
            /
        </span>
        抢单管理
        <span class="c-gray en">
            /
        </span>
        资金明细
    </nav>
    <article class="Hui-admin-content clearfix">
        <form action="{:url('User/money_info')}" method="get">
            <div class="panel">
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-3 col-md-4">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    状态：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <span class="select-box">
                                        <select class="select" id="statusifyID" name="statusifyID">
                                            <option value="0">
                                                全部状态
                                            </option>
                                            <option value="1">理财收益</option>
                                            <option value="2">抢单佣金</option>
                                            <option value="3">一级返佣</option>
                                            <option value="4">二级返佣</option>
                                            <option value="5">三级返佣</option>
                                            <option value="6">用户充值</option>
                                            <option value="7">用户提现</option>
                                            <option value="8">手工赠金</option>
                                            <option value="9">手工减金</option>
                                        </select>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    开始日期：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <input class="input-text datetimepicker-input" id="search-datetime-start"
                                           name="start" type="text">
                                    </input>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    结束日期：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <input class="input-text datetimepicker-input" id="search-datetime-end" name="end"
                                           type="text">
                                    </input>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    用户手机/ID：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <input class="input-text" id="search-input" name="searchInput"
                                           placeholder="用户id,手机号"
                                           type="text"/>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="row clearfix">
                                <span class="col-xs-4 form-item-control">
                                    <button class="btn btn-success radius" id="search-submit" name="" type="submit">
                                        <i class="Hui-iconfont">
                                            
                                        </i>
                                        搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="panel mt-20">
            <div class="panel-body">
                <div class="mt-20 clearfix">
                    <table class="table table-border table-bordered table-bg table-hover table-sort"
                           id="data-table-list">
                        <thead>
                        <tr class="text-c">
                            <th width="80">
                                ID
                            </th>
                            <th width="80">
                                用户ID
                            </th>
                            <th width="80">
                                用户账号
                            </th>
                            <th width="80">
                                类型
                            </th>
                            <th width="120">
                                时间
                            </th>
                            <th width="80">
                                金额
                            </th>
                            <th width="80">
                                加减
                            </th>
                            <th width="80">
                                账变前
                            </th>
                            <th width="120">
                                账变后
                            </th>
                            <th width="150">
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody class="getData-list" data-currpage="1">
                        {volist name='list' id='user' empey='暂时没有数据'}
                        <tr class="text-c">
                            <td>
                                {$user.id}
                            </td>
                            <td>
                                {$user.uid}
                            </td>
                            <td>
                                {$user.phone}
                            </td>
                            <td>
                                {$user.info}
                            </td>
                            <td>
                                {$user.addtime|date='Y-m-d H:i:s'}
                            </td>
                            <td>
                                {:round($user.money,2)}
                            </td>
                            <td>
                                {$user.type_num}
                            </td>
                            <td>
                                {:round($user.money_start,2)}
                            </td>
                            <td>
                                {:round($user.money_end,2)}
                            </td>
                            <td class="f-14 td-manage">
                            <?php  if(!empty($user['money_info'])):?>
                                {$user.money_info}
                            <?php endif?>
<!--                                <a class="ml-5" href="javascript:;" onclick='article_del("{$user.id}")'-->
<!--                                   style="text-decoration:none" title="删除">-->
<!--                                    <i class="Hui-iconfont">-->
<!--                                        -->
<!--                                    </i>-->
<!--                                </a>-->
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="text-c" id="laypage">
                    {$list|raw}
                </div>
            </div>
        </div>
    </article>
</div>
<!-- 公告尾部 -->
{include file="Public/_footer"/}
<!--请在下方写此页面业务相关的脚本-->
<script src="__ADMINPUBLIC__/lib/datatables/1.10.15/jquery.dataTables.min.js" type="text/javascript">
</script>
<script src="__ADMINPUBLIC__/lib/laypage/1.2/laypage.js" type="text/javascript">
</script>
<script src="__ADMINPUBLIC__/static/business/js/main.js" type="text/javascript">
</script>
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript">

    $(function () {

        runDatetimePicker(); // 实例化日期控件
        getUrlParameter(); // 获取URL参数，初始化条件

    });

    //打开添加咨询
    function article_add(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            fixed: false, //不固定
            resize: true,
            maxmin: true,
            shade: 0.4,
            area: ["80%", "90%"],
            content: "{:url('User/user_add')}",
            success: function (layero, index) {

                var body = layer.getChildFrame('body', index);//绑定父子之间的关系，用于数据传递，缺少则无法传递
                var iframeWin = window[layero.find('iframe')[0]['name']];//得到iframe页的窗口对

                iframeWin.$('#classifyID').val(1);
                iframeWin.$('#classifyID').attr("disabled", true);
            }
        });
        // layer.full(index);
    }

    function article_edit(id) {
        var index = layer.open({
            type: 2,
            title: '修改文章',
            fixed: false, //不固定
            maxmin: true,
            shade: 0.4,
            area: ["80%", "90%"],
            content: "{:url('User/user_edit')}?ids=" + id,
        });
    }

    function getRequest() {
        var url = window.location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                //就是这句的问题
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                //之前用了unescape()
                //才会出现乱码
            }
        }
        return theRequest;
    }

    // 获取URL参数，初始化条件
    function getUrlParameter() {
        var urlObj = getRequest();
        $("#classifyID").val(urlObj.classifyID);
        $("#statusifyID").val(urlObj.statusifyID);
        $("#statusifyIDs").val(urlObj.statusifyIDs);
        $("#search-datetime-start").val(urlObj.start);
        $("#search-datetime-end").val(urlObj.end);
        $("#search-input").val(urlObj.searchInput);

    }

    /*资讯-删除*/
    function article_del(id) {
        layer.confirm('确认要删除吗？' + id, function (index) {
            $.ajax({
                type: 'POST',
                url: "{:url('User/user_investment_del')}",
                dataType: 'json',
                data: {id: id},
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1, shade: 0.01, time: 1000}, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }

                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*资讯-状态修改*/
    function article_stop(id, status) {

        var msg = '';
        if (status == 1) {
            msg = '确定冻结吗'
        } else {
            msg = '确定解冻吗'
        }

        layer.confirm(msg, function (index) {
            $.ajax({
                type: 'POST',
                url: "{:url('User/user_status')}",
                dataType: 'json',
                data: {id: id, status: status},
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1, shade: 0.01, time: 1000}, function () {
                            window.location.reload();
                        });

                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }

                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

</script>
