<!-- 公共头部-->
{include file="Public/_header" title="$title"/}
<div class="Hui-admin-article">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">
            /
        </span>
        会员管理
        <span class="c-gray en">
            /
        </span>
        会员银行卡管理
    </nav>
    <article class="Hui-admin-content clearfix">
        <form action="{:url('User/user_bank')}" method="get">
            <div class="panel">
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-3 col-md-4">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    状态：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <span class="select-box">
                                        <select class="select" id="statusifyID" name="statusifyID">
                                            <option value="0">
                                                全部状态
                                            </option>
                                            <option value="0">非默认</option>
                                            <option value="1">默认</option>
                                        </select>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="row clearfix mb-10">
                                <span class="col-xs-4 form-item-label">
                                    用户手机/ID：
                                </span>
                                <span class="col-xs-8 form-item-control">
                                    <input class="input-text" id="search-input" name="searchInput"
                                           placeholder="用户id,手机号"
                                           type="text"/>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="row clearfix">
                                <span class="col-xs-4 form-item-control">
                                    <button class="btn btn-success radius" id="search-submit" name="" type="submit">
                                        <i class="Hui-iconfont">
                                            
                                        </i>
                                        搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="panel mt-20">
            <div class="panel-body">
                <div class="mt-20 clearfix">
                    <table class="table table-border table-bordered table-bg table-hover table-sort"
                           id="data-table-list">
                        <thead>
                        <tr class="text-c">
                            <th width="80">
                                ID
                            </th>
                            <th width="80">
                                用户ID
                            </th>
                            <th width="80">
                                用户账号
                            </th>
                            <th width="80">
                                用户姓名
                            </th>
                            <th width="80">
                                持卡人
                            </th>
                            <th width="120">
                                归属银行
                            </th>
                            <th width="80">
                                详细分行
                            </th>
                            <th width="80">
                                卡号
                            </th>
                            <th width="80">
                                是否默认
                            </th>
                            <th width="150">
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody class="getData-list" data-currpage="1">
                        {volist name='list' id='user' empey='暂时没有数据'}
                        <tr class="text-c">
                            <td>
                                {$user.id}
                            </td>
                            <td>
                                {$user.uid}
                            </td>
                            <td>
                                {$user.mobile}
                            </td>
                            <td>
                                {$user.truename}
                            </td>

                            <td>
                                {$user.username}
                            </td>
                            <td>
                                {$user.address}
                            </td>
                            <td>
                                {$user.address_info}
                            </td>
                            <td>
                                {$user.phone}
                            </td>
                            <td class="td-status">
                                {eq name="$user.status" value="0"}
                                <span class="label label-danger radius">
                                        非默认
                                    </span>
                                {else/}
                                <span class="label label-success radius">
                                        默认
                                    </span>
                                {/eq}
                            </td>
                            <td class="f-14 td-manage">

                                <a class="ml-5" href="javascript:;" onclick='article_del("{$user.id}")'
                                   style="text-decoration:none" title="删除">
                                    <i class="Hui-iconfont">
                                        
                                    </i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="text-c" id="laypage">
                    {$list|raw}
                </div>
            </div>
        </div>
    </article>
</div>
<!-- 公告尾部 -->
{include file="Public/_footer"/}
<!--请在下方写此页面业务相关的脚本-->
<script src="__ADMINPUBLIC__/lib/datatables/1.10.15/jquery.dataTables.min.js" type="text/javascript">
</script>
<script src="__ADMINPUBLIC__/lib/laypage/1.2/laypage.js" type="text/javascript">
</script>
<script src="__ADMINPUBLIC__/static/business/js/main.js" type="text/javascript">
</script>
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript">

    $(function () {
        runDatetimePicker(); // 实例化日期控件
        getUrlParameter(); // 获取URL参数，初始化条件
    });


    function getRequest() {
        var url = window.location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                //就是这句的问题
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                //之前用了unescape()
                //才会出现乱码
            }
        }
        return theRequest;
    }

    // 获取URL参数，初始化条件
    function getUrlParameter() {
        var urlObj = getRequest();
        $("#classifyID").val(urlObj.classifyID);
        $("#statusifyID").val(urlObj.statusifyID);
        $("#statusifyIDs").val(urlObj.statusifyIDs);
        $("#search-datetime-start").val(urlObj.start);
        $("#search-datetime-end").val(urlObj.end);
        $("#search-input").val(urlObj.searchInput);

    }

    /*资讯-删除*/
    function article_del(id) {
        layer.confirm('确认要删除吗？' + id, function (index) {
            $.ajax({
                type: 'POST',
                url: "{:url('User/del_bank')}",
                dataType: 'json',
                data: {id: id},
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1, shade: 0.01, time: 1000}, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }

                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
